body{
    font-family :'Montserrat', sans-serif;
    background-color: #eee;
}
/* navbar */
.sidebar{
    height: 100vh;
    background-color: #247BA0;
}
.sidebar-link{
    transition: all .4s;
}
.sidebar-link:hover{
background-color:#FFBC42;
border-radius:5px;
}
.current{
    background-color: #FFF3B0;
}
/* end of navbar */